<div id="<%= dom_id order %>">
  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= order.delivery_address %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= order.payment_status %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= order.buyer_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

</div>
